/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* global styles */
  body {
    background-color: #f7f7f7;
    color: #000000;
    font-family: "DM Sans", sans-serif;
  }
  img {
    width: 100%;
    height: auto;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  /* global styles end */
  
  /* header styles start */
  header {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 8px;
  }
  .header-img {
    width: 36px;
    height: 36px;
  }
  .header-title {
    text-transform: uppercase;
  }
  /* header styles end */
  
  /* hero styles start */
  .hero-container {
    margin-top: 0.6rem;
    padding: 20px;
    display: flex;
    gap: 1rem;
  }
  .hero-left-content {
    flex: 1;
    text-align: center;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .hero-img {
    width: 157px;
    height: 157px;
  }
  .hero-title {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0.3rem;
  }
  .hero-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 460px;
    margin: 0 auto;
  
    /* margin: .5rem 0; */
  }
  .hero-btn {
    padding: 12px 15px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #053582;
    border: none;
    cursor: pointer;
    /* max-width: fit-content; */
  }
  .hero-right-content {
    flex: 1;
    padding: 48px;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  progress {
    width: 100%;
  }
  .form-info {
    margin: 0.8rem 0;
  }
  .form-info h2 {
    color: #393939;
    font-size: 28px;
    font-weight: 700;
  }
  .form-info p {
    font-size: 12px;
    font-weight: 400;
    color: #404040;
  }
  /* .input-wrapper {
  } */
  .input-field {
    width: 100%;
    padding: 12px 18px;
    height: 48px;
    border: 1px solid #e2e2ea;
    border-radius: 10px;
  }
  .two-input {
    display: flex;
    gap: 0.3rem;
  }
  ::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #b5b5be;
    opacity: 1;
  }
  .input-wrapper {
    position: relative;
  }
  .eye {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 15px;
    right: 10px;
    cursor: pointer;
  }
  .terms-condition {
    font-size: 14px;
    font-weight: 400;
    max-width: 400px;
    letter-spacing: 0.3%;
  }
  .privacy {
    color: dodgerblue;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-container p {
    margin-left: 2rem;
  }
  .btn-container p > a {
    color: dodgerblue;
  }
  /* hero styles end */
  
  /* media queries */
  @media (max-width: 920px) {
    .hero-container {
      flex-direction: column;
    }
  }
  @media (max-width: 600px) {
    header {
      justify-content: center;
      margin-top: 1.2rem;
    }
    .hero-title {
      font-size: 20px;
    }
    .two-input {
      flex-direction: column;
    }
    .hero-right-content {
      padding: 20px;
    }
  }
  @media (max-width: 400px) {
    .hero-btn{
      width: 100%;
      margin-top: .9rem;
    }
    .btn-container {
      flex-direction: column;
    }
  }